@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.app {
    position: relative;
    width: 1170px;
    height: 362px;
    top: 10px;
    left: calc(50% - 1170px / 2);
    border: 0.5px solid #369cb7;
    box-sizing: border-box;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.titlePage {
    position: relative;
    top: 29px;
    text-align: center;
    /* left: 343px; */
    width: 1170px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2f2f2f;
}

.squareArea,
.figuresArea {
    position: relative;
    display: flex;
    width: 330px;
    height: 85px;
    left: calc(50% - 330px / 2);
}

.figuresArea {
    top: 89px;
    /* background-color: orange; */
}

.squareArea {
    top: 109px;
    /* background-color: red; */
}

.squarePlace:not(:last-child),
.figure:not(:last-child) {
    margin-right: 30px;
}

.figure {
    cursor: grab;
}

.titleSquare {
    margin-bottom: 5px;
    width: 56px;
    height: 20px;
    left: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2f2f2f;
}

.square {
    width: 60px;
    height: 60px;
    top: 25px;
    background: #f4f4f4;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
    margin-left: 505px;
    margin-top: 31px;
}
